# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
.pnp.*
.yarn-integrity

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
!debug.keystore

# Metro
.metro-health-check*

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*
lerna-debug.log*
logs/
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Environment Variables
.env
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/
*.code-workspace

# JetBrains IDEs (WebStorm, IntelliJ, etc.)
.idea/
*.iml
*.iws
*.ipr
out/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
Session.vim
.netrwhist

# Generated native folders
/ios
/android

# iOS
ios/Pods/
ios/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android
build/
.gradle/
local.properties
*.apk
*.hprof
captures/
.externalNativeBuild
.cxx
gradlew
gradlew.bat

# FastLane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundle artifacts
*.jsbundle

# Testing
coverage/
.nyc_output/

# Cache
.cache/
.parcel-cache/
.eslintcache
.stylelintcache
.npm

# EAS (Expo Application Services)
.easignore

# App signing & credentials
*.cert
*.pem
google-services.json
GoogleService-Info.plist
credentials.json
secrets.json
config.secret.js

# Misc
*.swp
*.swo
*.bak
*.tmp
*.temp
.turbo
